* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  height: 100%;
  font-family: "Segoe UI";
}

.header {
  top: 0;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 7%;
  background-color: #2D89E6;
  padding-bottom: 4%;
  font-family: "Segoe UI";
  color: white;
}

.left {
  width: 38%;
  position: fixed;
  padding-right: 2%;
}

.left input[type=text], .left [type=email], .left [list] {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 1.5%;
  border-radius: 10px;
  border: 1px solid #c3c3c3;
  height: 43px;
  padding: 2%;
  font-family: "Segoe UI";
}

.left textarea {
  width: 90%;
  margin-left: 5%;
  border: 1px solid #c3c3c3;
  margin-bottom: 1%;
  border-radius: 10px;
  padding: 2%;
  font-family: "Segoe UI";
}

.left input[type=checkbox] {
  background-color: white;
  margin-bottom: 14%;
  border-radius: 0%;
  border: 1px solid #2D89E6;
  font-family: "Segoe UI";
}

.left #index {
  width: 12%;
  margin-left: 1.5%;
  border-radius: 0px;
  height: auto;
  padding: 0;
  font-family: "Segoe UI";
}

.left form {
  padding-bottom: 0px;
}

.left .form_container {
  border: solid 1px;
  height: 100%;
  margin-top: 17%;
  float: right;
  border-radius: 25px;
  width: 68%;
  padding: 0px;
  padding-top: 3%;
  border: 1px solid #c3c3c3;
}

.left #btn {
  margin-bottom: 0px;
  width: 100%;
  background-color: #2D89E6;
  border: 1px solid #2D89E6;
  color: white;
  padding: 4% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 105%;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  font-family: "Segoe UI";
  font-weight: 700;
}

.left #AddHeader {
  text-align: center;
  font-size: 140%;
  margin-top: 1.7%;
  font-family: "Segoe UI";
  color: #707070;
}

.left .checkbox {
  margin-left: 5%;
}

.right {
  width: 58.5%;
  min-height: 100vh;
  background-color: #f6f6f6;
  margin: 0;
  margin-right: 4%;
  float: right;
}

.right .top_right {
  background-color: #2D89E6;
  width: 10%;
  height: 5.3%;
  float: right;
  margin-top: 11.2%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 1%;
  padding-left: 2%;
  font-family: "Segoe UI";
}

.right .top_left {
  width: 70%;
  height: 4%;
  float: left;
  background-color: #2D89E6;
  margin-top: 11.2%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding-left: 5%;
  padding-bottom: 1%;
  font-family: "Segoe UI";
}

.right [list] {
  border-radius: 3px;
  width: 10%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border: 1px solid #c3c3c3;
  padding: 0.4%;
  height: 59%;
  margin-top: 1%;
  top: 50%;
  font-size: 70%;
  bottom: 50%;
  font-family: "Segoe UI";
}

.right span {
  font-size: 87%;
  color: white;
}

.right #sortby {
  font-weight: 700;
  word-spacing: 0.009%;
  font-family: "Segoe UI";
}

.right #sort {
  width: 8%;
  border: 1px solid #c3c3c3;
  font-family: "Segoe UI";
}

.right input[type=text] {
  border: 1px solid #c3c3c3;
  width: 32%;
  padding: 0.3%;
  height: 61%;
  border-radius: 3px;
  font-family: "Segoe UI";
  font-size: 70%;
}

.right .split {
  position: relative;
  font-size: 181%;
  color: white;
}

.right .minusIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ff4a4a;
  border-radius: 100%;
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin-top: 3%;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: -1px;
  cursor: pointer;
}

.right #result {
  margin-top: 18.7%;
  height: 78vh;
  margin-left: 3%;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
}

.right .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: column;
      -ms-flex-align: column;
          align-items: column;
}

.right .personInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -28px;
  margin-left: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.right .personInfo p {
  margin: 1%;
  font-family: "Segoe UI";
}

.right .personInfo h2 {
  margin-bottom: 0.25%;
  font-family: "Segoe UI";
  font-size: 150%;
}

.right .personInfo .mail_major_role {
  color: #2D89E6;
  font-size: 97%;
  font-weight: 700;
  margin-top: 1px;
  margin-bottom: 1px;
}

.right .personInfo #numofallmemebers {
  font-family: "Segoe UI";
}
/*# sourceMappingURL=index.css.map */